.text_box {
    width: 100%;
    background: linear-gradient(45deg, rgba(14, 132, 199, 1) 0%, rgba(0, 189, 255, 1) 100%);
    border-radius: 15px;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, .4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.text_box textarea {
    width: 100%;
    min-height: 200px;
    background: none;
    resize: none;
    border: none;
    outline: none;
    color: #fff;
    padding: 20px;
    font-size: 20px;
}

.text_box textarea::placeholder {
    color: #eee;
    opacity: .7;
}

.text_icon_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px 15px;
    gap: 15px;
    border-top: 1px solid #eee;
}

.text_icon_box span {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 25px;
    background-color: rgba(0, 187, 255, 0.692);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.text_icon_box span:hover {
    opacity: .8;
}