/* #212121 */
/* #424242 */
/* #616161 */
/* #2d3037 */

.main-section {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 16px;
    gap: 20px;
    border-radius: 10px;
}

.select_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0a55dc;
    border-radius: 10px;
    padding: 15px 16px;
}

.textbox_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.arrow {
    font-size: 24px;
    cursor: pointer;
}

.btn_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.translate_btn {
    width: 100%;
    background: #0a55dc;
    border-radius: 10px;
    padding: 15px 16px;
    outline: none;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}


@media screen and (min-width: 640px) {
    .textbox_container {
        flex-direction: row;
    }

    .main-section {
        padding: 56px 16px;
    }
}